@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color:#3730a3;
}


body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0px;
    height: 100%;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
}
.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

textarea {
    width: 90%;
    height: 10vh;
    display: block;
    margin: 3rem 1rem 2rem 1rem;
    padding: 1rem;
}

#btn-translate {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 25px 75px;
    font-size: large;
    margin-top: 2rem;
    cursor: pointer;
}

.heading {
    text-align: center;
    font-size: large;
    margin: 2rem;
}
#output {
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}